nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

    & img {
        // width: ;
        // height: ;
        object-fit: cover;
        padding-top: 20px;
    }

    & ul {
        display: flex;
        gap: 20px;
        text-transform: uppercase;

        & a {
            color: white;
            transition: 0.3s;
            align-items: center;

            &:hover {
                color: yellow;
                letter-spacing: 2px;
                
            }
        }
    }

}

